body {
    background-color: rgb(24, 24, 24);
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#title {
    color: white;
    padding-left: 20px;
}

#grid-container {
    height: 100%;
    padding-left: 10px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto();
    grid-gap: 10px;
}

.grid-item {
    background-image: linear-gradient(rgb(31, 31, 31), rgb(41, 41, 41));
    border-radius: 10px;
    border: 2px solid rgb(20, 20, 20);

    height: 100px;
}